<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メニュー</title>
</head>
<body>
<h3>★ようこそmenu.htmlへ（演習問題サイトです）★</h3>
<h4>以下の演習を行っていきます。リンクを完成していきます</h4>
<ul>
    <li>プロジェクト作成と構成に慣れる！
        <ul>
            <li>演習１．Spring Bootプロジェクト作成と構成確認</li>
            <li>演習２．トップページ（メニュー）作成</li>
        </ul>
    </li>
    <li>コントローラクラスとhtml作成に慣れる！
        <ul>
            <li><a href="./zeicalc">演習３．消費税計算する</a></li>
            <li><a href="./calc">演習４．四則演算する</a></li>
            <li><a href="./input">演習５．情報入力と確認表示を行う</a></li>
        </ul>
    </li>
    <li>DB接続：接続設定からアプリケーション作成まで
        <ul>
            <li>演習６．DB接続準備をする</li>
            <li>演習７．gradleファイル設定とビルド</li>
            <li>演習８．DB接続関連ファイルインポート</li>
            <li>演習９．エンティティクラスを作成する</li>
            <li>演習10．Daoインターフェースを作成する</li>
            <li>演習11．sqlファイルを作成する</li>
            <li>演習12．サービスクラスを作成する</li>
            <li>演習13．単体テストを行う</li>
            <li><a href="./slist">演習14．Webアプリケーション作成（一覧表示/修正/削除機能）</a></li>
        </ul>
    </li>
</ul>
</body>
</html>